.hero-page header {
	min-width: 10em;
	max-width: calc(100vw - 100vmin);	/* calculate remaining width */
	background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (orientation: portrait) {
	.hero-page header {
		min-width: 0;
		max-width: 100vw;
		margin-top: 100vmin;
	}
}

/* Similar to the shadow on the homepage, except this one is on the right. */
.shadow-left {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}
/* Apply shadow only on wide screens */
@media screen and (orientation: landscape){
	.shadow-left::after {
		content: '';
		position: absolute;
		top: 0;
		width: 100%;
		height: 100vmin;
		box-shadow: inset 200px 0 200px #000;
	}
}

.hero-page img {
	object-position: 40% 50%;
}

#slide-out-curtain {
	position: absolute;
	top: 0;
	z-index: -1;
	height: 100vmin;
	width: 0;
	background-color: #000;
	box-shadow: 100px 0 100px #000;
	animation: slideLeft 2s ease-out;
}

@keyframes slideLeft {
	from {
		width: 100vw;
	}
	to {
		width: 0;
	}
}
