/*************
 * HERO PAGE *
 *************/

.hero-page img {
	object-position: 50% 80%;
}


/* Similar to the shadow on the homepage, except this one is on the right. */
.shadow-left {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}
/* Apply shadow only on wide screens */
@media screen and (orientation: landscape){
	.shadow-left::after {
		content: '';
		position: absolute;
		top: 0;
		width: 100%;
		height: 100vmin;
		box-shadow: inset 50px 0 50px #000;
	}
}

.hero-page header {
	z-index: +1;
}

/* @media screen and (width < 128vmin) {
	.hero-page header {
		order: +1;
	}
} */

#video-slide {
	width: 100vmin;
	height: 100vmin;
	padding: 3vw;
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-rows: 1fr 1fr;
	gap: 3vw 0;
}

#video-slide iframe:first-of-type {
	grid-column: 1 / span 2;
}
#video-slide iframe:last-of-type {
	grid-column: 2 / span 2;
}

#video-slide iframe {
	animation: slideVideo 2s ease-in-out;
}

@keyframes slideVideo {
	from {
		margin-left: -100vw;
	}
	to {
		margin-left: 0;
	}
}

/* So, I'm having this issue on the MBA page that I cannot for the life of me understand.
	When the page loads, there's a bizarre invisible box covering part of the drop-shadow
	effect on the title. If you comment out the code below this, refresh the page, and look
	at the 'y' in 'Monterey', you'll see what I mean.

	AND FOR SOME FUCKIN REASON ADDING AN INVISIBLE BORDER GETS RID OF IT???????
*/
.hero-page > * {
	border: 1px solid transparent;
}