/* Fonts from Google Font API */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/*******************
 * RESET SYLESHEET *
 *******************/

*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;

	/* Smooth scrolling for in-page links (i.e. links to IDs) */
	scroll-behavior: smooth;
	scroll-margin-top: 4rem;
}

ul {
	padding: 0;
	list-style: none;
}

img,
video,
iframe {
	max-width: 100%;
	max-height: 100%;
}

/* <address> elements are italic by default */
address {
	font-style: normal;
}

/* Minimum size for interactable elements on mobile screens */
@media screen and (max-width: 800px) {
	a,
	button,
	audio,
	iframe,
	input,
	textarea,
	video {
		min-width: 42px;
		min-height: 42px;
	}
}


/*********
 * FONTS *
 *********/

body {
	font-family: "Open Sans", serif;
}

h1, h2, h3, h4 {
	font-family: "Nunito", sans-serif;
}