:root {
	--gallery-gap: 1.5rem; /* Gap between each img */
	--gallery-num-cols: 4;
}

/* For smol / mobile screens */
@media screen and (width < 1200px) {
	:root {
		--gallery-num-cols: 2;
	}
}
@media screen and (width < 700px) {
	:root {
		--gallery-num-cols: 1;
	}
}

#gallery {
	display: grid;
	grid-template-columns: repeat(var(--gallery-num-cols), 1fr);
	gap: var(--gallery-gap);
	padding: var(--gallery-gap);
}

#gallery > h2 {
	grid-column: 1 / span var(--gallery-num-cols);
	text-align: center;
}

.col {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--gallery-gap);
}

img,
iframe {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.col > li {
	/* flex: 1 1 auto; */
	position: relative;
}

.col > li > div {
	/* Position at bottom left */
	position: absolute;
	bottom: 0;
	left: 0;
	/* Cosmetics */
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	width: 100%;
	/* Effects */
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.col li:hover > div {
	opacity: 1;
}