/*! add header comment to ALL PAGES */

@import url("./reset.css");
@import url("./nav.css");
@import url("./footer.css");

:root {
	/* Colors! */
	--ripple-color: #fff;
	/* This is the same blue used by MBA on their website */
	--mba-blue: #62b6f3;
	
	/* Fancy links */
	--fancy-link-bg-inactive: #fff;
	--fancy-link-bg-active: var(--mba-blue);
}

/* More color classes for easily applying text/background color */
.white-bg { background-color: #fff; }
.white-text { color: #fff; }
.black-bg { background-color: #000; }
.black-text { color: #000; }


/***************
 * FANCY LINKS *
 ***************/

.fancy-link {
	--underline-size: 100%;
	/* Reset stuff */
	text-decoration: none;
	display: inline-block;

	color: transparent;
	background-clip: text;
	background-image: 
		linear-gradient(to right, var(--fancy-link-bg-inactive), var(--fancy-link-bg-inactive)),
		linear-gradient(to right, var(--fancy-link-bg-active), var(--fancy-link-bg-active));
	background-repeat: no-repeat, no-repeat;
	background-size: 
		100% var(--underline-size),
		0% var(--underline-size);
	background-position: 
		right bottom, 
		left bottom;
	transition: background-size 0.4s ease-in-out;
}
.fancy-link:hover {
	background-size: 
		0% var(--underline-size),
		100% var(--underline-size);
}

/*************
 * HERO PAGE *
 *************/

.hero-page {
	display: flex;
	flex-flow: row wrap;
	min-height: 100vmin;
}

.hero-page header {
	background-color: rgba(0, 0, 0, 0.4);
	/* Make the hero page's text container fill the remaining space left over by the ripple div */
	flex: 1 1 0%;
	font-size: 3rem;
	text-align: center;
	/* Add enough padding for the h1 to be clear of the hamburger menu so that it doesn't get covered up */
	padding-top: calc(var(--nav-spacing) + var(--icon-size));
	/* Since different browsers will have slightly different breakpoints, we add a 
		transition to make it seems less jarring. */
	transition: padding-top 0.2s;
}

@media screen and (orientation: portrait) {
	.hero-page header {
		padding-top: 1em;
	}
}

h1 {
	font-size: max(4vw, 6vh);
	padding: 0 5px;
}

.hero-page img {
	/* Since <img> elements are inline by default, they are treated as "text", which means they have line height.
	This creates a small gap below the image, so we reset the img to block-level to fix this. */
	display: block;
	/* Using vmin allows the image to naturally resize based on the device width/height so that 
	it always fits */
	height: 100vmin;
	/* In case the screen is too small for the image, we use object-fit to maintain 
	the image's aspect ratio, and object-position to make Rosa stay in the same location */
	object-fit: cover;
	object-position: 0 0;
}

/****************
 * MAIN CONTENT *
 ****************/

body {
	background-color: #000;
	color: #fff;
}

/* Switch to 1-column layout on devices smaller than 1000px */
@media screen and (width < 1000px) {
	body { --num-cols: 1; }
}

main {
	padding: 8rem 15%;
	background-image: url("../images/swimming-blissfully-by-ozm0th.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 80%;
}

/************************************
 * ARTICLES WITH ALTERNATING LAYOUT *
 ************************************/

article {
	display: grid;
	gap: 5%;
	margin: 8rem 0;
}

@media screen and (width >= 1000px) {
	article {
		grid-template-columns: 6fr 4fr;
	}

	article:nth-of-type(odd) {
		grid-template-columns: 4fr 6fr;
	}

	/* Switches the order of the images and text */
	article:nth-of-type(even) > section { 
		order: +1; 
	}
}

article > section, 
article > div {
	position: relative;		/* for children with absolute positioning */
	background-color: #000;
	/* background-image: linear-gradient(to right bottom, #000000, #080606, #0f0c0a, #13110e, #151612); */
	border-radius: 1em;
	padding: 2em;
}

article > section::before {
	content: 'Chapter 1';
	position: absolute;
	top: -1em;
	left: -1em;
	padding: 0.5em;
	border-radius: 0.5em;
	font-size: 1.5rem;
	background-color: #fff;
	color: #000;
}

article h2 {
	text-align: center;
	margin-bottom: 1em;
}

article img {
	display: block;
}
