/*! add header comment to ALL PAGES */

@import url("./reset.css");
@import url("./nav.css");
@import url("./footer.css");

:root {
	/* Colors! */
	--ripple-color: #fff;
	/* This is the same blue used by MBA on their website */
	--mba-blue: #62b6f3;
	--oxford-blue: #122142;
	--blue-green: #3E93B5;
	--silver-lake-blue: #5885C2;
	--tangerine: #EA8A21;
	--saffron: #EEC21E;
	--verdigris: #3B9EA0;
	--zomp: #3D9C81;
	--mantis: #63C24E;
	--sgbus-green: #80D446;
	--straw: #DEE267;

	/* A linear gradient that matches the palette of the backdrop art by ozm0th */
	--rosa-gradient: linear-gradient(120deg,
						var(--oxford-blue),
						var(--blue-green), 
						var(--silver-lake-blue), 
						var(--tangerine), 
						var(--saffron) 49% 51%,
						var(--tangerine), 
						var(--verdigris), 
						var(--zomp), 
						var(--mantis), 
						var(--sgbus-green), 
						var(--straw)
					);
	
	/* Fancy links */
	--fancy-link-bg-inactive: #fff;
	--fancy-link-bg-active: var(--mba-blue);
}

/* More color classes for easily applying text/background color */
.white-bg { background-color: #fff; }
.white-text { color: #fff; }
.black-bg { background-color: #000; }
.black-text { color: #000; }


/***************
 * FANCY LINKS *
 ***************/

.fancy-link {
	/*! remove this variable if I'm happy with this design */
	--underline-size: 100%;
	/* Reset stuff */
	text-decoration: none;
	display: inline-block;

	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: 
		linear-gradient(to right, var(--fancy-link-bg-inactive), var(--fancy-link-bg-inactive)),
		linear-gradient(to right, var(--fancy-link-bg-active), var(--fancy-link-bg-active));
	background-repeat: no-repeat, no-repeat;
	background-size: 
		100% var(--underline-size),
		0% var(--underline-size);
	background-position: 
		right bottom, 
		left bottom;
	transition: background-size 0.4s ease-in-out;
}
.fancy-link:hover {
	color: transparent;
	background-size: 
		0% var(--underline-size),
		100% var(--underline-size);
}

/*************
 * HERO PAGE *
 *************/

.hero-page {
	display: flex;
	flex-flow: row wrap;
	min-height: 100vmin;
}

.hero-page header {
	position: relative;		/* for children */
	background-color: rgba(0, 0, 0, 0.4);
	/* Make the hero page's text container fill the remaining space left over by the ripple div */
	flex: 1 1 0%;
	font-size: 3rem;
	text-align: center;
	/* Add enough padding for the h1 to be clear of the hamburger menu so that it doesn't get covered up */
	padding-top: calc(var(--nav-spacing) + var(--icon-size));
}

.hero-page header li {
	margin-top: 1em;
}

.hero-page img {
	/* Since <img> elements are inline by default, they are treated as "text", which means they have line height.
	This creates a small gap below the image, so we reset the img to block-level to fix this. */
	display: block;
	/* Using vmin allows the image to naturally resize based on the device width/height so that 
	it always fits */
	height: 100vmin;
	/* In case the screen is too small for the image, we use object-fit to maintain 
	the image's aspect ratio, and object-position to make Rosa stay in the same location */
	object-fit: cover;
	object-position: 0 0;
}

/********
 * LOGO *
 ********/

#logo {
	position: absolute;
	top: 1em;
	left: 1em;
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--mba-blue);
}

#logo i {
	font-size: 1.5em;
	margin-right: 5px;
	/*! vertical-align: middle; */
}

h1 {
	font-size: max(4vw, 6vh);
	padding: 0 5px;
	/* Using inline here maintains the background across multiple lines */
	display: inline;
	background: url("../images/swimming-blissfully-by-ozm0th.webp") no-repeat 70% 75%;
	background-size: 150%;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;

	/* Adding a bit of shadow around the text makes it stand out against background images */
	filter: drop-shadow(5px 5px 3px #000);
}

/****************
 * MAIN CONTENT *
 ****************/

body {
	background-color: #000;
	color: #fff;
}

main {
	padding: 8rem 15%;
	background-image: url("../images/swimming-blissfully-by-ozm0th.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 80%;
}

	/* TODO: maybe keep this? Feel like it conflicts with the h1 title */
/* @media screen and (width < 700px) {
	main {
		background-image: url("../images/among-the-stars-by-potaattiss.webp");
	}
} */

a {
	color: var(--mba-blue);
	transition: all 0.3s;
}
a:hover {
	color: var(--tangerine);
}

/************************************
 * ARTICLES WITH ALTERNATING LAYOUT *
 ************************************/

article {
	display: grid;
	gap: 5%;
	margin: 8rem 0;
}

@media screen and (width >= 1000px) {
	article {
		grid-template-columns: 6fr 5fr;
	}

	article:nth-of-type(odd) {
		grid-template-columns: 5fr 6fr;
	}

	/* Switches the order of the images and text */
	article:nth-of-type(even) > section { 
		order: +1; 
	}
}

article > section, 
article > div {
	position: relative;		/* for children with absolute positioning */
	background-color: #000;
	/* background-image: linear-gradient(to right bottom, #000000, #080606, #0f0c0a, #13110e, #151612); */
	border-radius: 1em;
	padding: 2em;
}

article > section::before {
	content: 'Chapter 1';
	position: absolute;
	top: -1em;
	left: -1em;
	padding: 0.5em;
	border-radius: 0.5em;
	font-size: 1.5rem;
	background-color: #fff;
	color: #000;
}

article h2 {
	text-align: center;
	margin-bottom: 1em;
}

article img {
	display: block;
}
