/*! add header comment to ALL PAGES */

@import url("./reset.css");
@import url("./nav.css");
@import url("./footer.css");

:root {
	/* Colors! */
	/* This is the same blue used by MBA on their website */
	--mba-blue: #62b6f3;

	/* Specific colors for active / inactive / links / etc... */
	--nav-bg-inactive: lightsteelblue;
	--nav-bg-active: #122142;
	--nav-fg-inactive: #000;
	--nav-fg-active: #fff;
	--ripple-color: #fff;
	/* Fancy links */
	--fancy-link-fg: #fff;
	--fancy-link-bg-inactive: #fff;
	--fancy-link-bg-active: var(--mba-blue);

	/* Animation/Transition speeds! */
	--nav-speed: 0.5s;

	/* Navbar stuff! */
	--nav-spacing: 5vmin;
	--icon-size: 4rem;
	--nav-radius: 1rem;
}

/* More color classes for easily applying text/background color */
.white-bg { background-color: #fff; }
.white-text { color: #fff; }
.black-bg { background-color: #000; }
.black-text { color: #000; }


/***************
 * FANCY LINKS *
 ***************/

.fancy-link {
	--underline-size: 0.1em;
	/* Reset stuff */
	text-decoration: none;
	display: inline-block;

	color: var(--fancy-link-fg);
	padding-bottom: 0.5rem;
	background-image: 
		linear-gradient(to right, var(--fancy-link-bg-inactive), var(--fancy-link-bg-inactive)),
		linear-gradient(to right, var(--fancy-link-bg-active), var(--fancy-link-bg-active));
	background-repeat: no-repeat, no-repeat;
	background-size: 
		100% var(--underline-size),
		0% var(--underline-size);
	background-position: 
		right bottom, 
		left bottom;
	transition: background-size 0.3s ease-in-out;
}
.fancy-link:hover {
	background-size: 
		0% var(--underline-size),
		100% var(--underline-size);
}

/****************
 * MAIN CONTENT *
 ****************/

body {
	/* Number of columns for articles/footer */
	--num-cols: 2;
	background-color: #000;
	color: #fff;
}

/* Switch to 1-column layout on devices smaller than 1000px */
@media screen and (width < 1000px) {
	body { --num-cols: 1; }
}

main {
	padding: 8rem 15%;
	background-image: url("../images/swimming-blissfully-by-ozm0th.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 80%;
}

/************************************
 * ARTICLES WITH ALTERNATING LAYOUT *
 ************************************/

article {
	display: grid;
	grid-template-columns: 6fr 4fr;
	gap: 5%;
	margin: 8rem 0;
}

article:nth-of-type(odd) {
	grid-template-columns: 4fr 6fr;
}

/* Alternating layout on larger devices */
@media screen and (width >= 1000px) {
	article:nth-of-type(even) > section { order: +1; }
}

@media screen and (width < 1000px) {
	article {
		/* Overrides the odd-numbered article styling just above this */
		grid-template-columns: 1fr !important;
	}
}

article > section, article > div {
	position: relative;		/* for children with absolute positioning */
	background-color: #000;
	border-radius: 1em;
	padding: 2em;
}

article > section::before {
	content: 'Chapter 1';
	position: absolute;
	top: -1em;
	left: -1em;
	padding: 0.5em;
	border-radius: 0.5em;
	font-size: 1.5rem;
	background-color: #fff;
	color: #000;
}

article h2 {
	text-align: center;
	margin-bottom: 1em;
}

article img {
	display: block;
}
